.Home {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
  overflow-x: hidden;  

}


.Left {
  width: 100%;
  height: 100%;
  display: flex; 
  flex: 4;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #CDC392;
  padding:30px;
}

.Right {
  flex: 9;
  width: 50vw;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  /* z-index: 1; */
}

.books{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-form {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
margin-bottom: 5px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0 10px 0;
}
.form-submit{
  background-color: #08d;
  border-radius: 10px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  text-align: center;
  width: 100px;
  padding-top: 0;
  margin-top: 10px;
}
.form-submit:active{
      background-color: #06b;
  
}
.input-field{
  position: relative;
  height:50px;
  width: 100%;
  border: 0;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 18px;
  outline: 0;
  padding: 4px 20px 0;
  margin: 10px 0 10px 0;
  
}
.input-field:focus ~ .placeholder,
.input-field:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}
/* write media query to make it responsive */

@media screen and (max-width: 1024px) {
  .Left{
    background-image: url('../data/one.jpg');
    background-size: cover;
  }

  .Right {
    display: none;
  }
}