.stories {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(22, 19, 22);
  overflow-y: hidden;
  padding: 40px;
}

.heading {
  position: sticky;
  font-size: 5em;
  font-weight: bold;
  color: #ffd98e;
  text-align: center;
  margin-bottom: 20px;
  padding: 0;
}

.line{
  width: 75vw;
  height: 1px;
  background-color: #ffd98e;
  margin-bottom: 50px;
}

/* responsive design for device width 1024px  */

@media screen and (max-width: 1024px) {
}
