.cover{    
    min-height: 100vh;
    background-color: rgb(33, 33, 33);
}

/* making a card for the story which has title story and it's likes */

.book{
    min-height: 100vh;
    width: 100%;
    padding: 10px;
}

.book-title{
    font-size: max(2em, 6vw);
    font-weight: bold;
    color: #ffd98e;
    text-align: left;
    margin-top: 50px;
    margin-right: 600px;
    padding-left: max(10px, 8vw);
}

.book-story{
    font-size: 1.4em;
    font-family: inherit;
    color: #ffd98e  ;
    text-align: justify;    
    margin: 50px;
    padding: 0;
}

.book-likes{
    position: absolute;
    top: min(75px, 8vw);
    right: min(60px, 50vw);
    font-size: max(1em, 4vw);
    color: #ffd98e  ;
}