.stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(22, 19, 22);
    overflow-y: hidden;
}

.heading{
    font-size: 2em;
    font-weight: bold;
    color: white;
    text-align: center;
    margin: 50px;
    padding: 0;
}

/* responsive design for device width 1024px  */

@media screen and (max-width: 1024px) {

}